* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #262931;
  color: #686c71;
}

/*Хэдер*/

.header-nav {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}
.header-nav__item {
  margin-left: 20px;
  color: #fff;
}
.fas .fa-bars {
  font-size: 30px;
}
.header-logo__item {
  margin-right: 0 auto;
  font-size: 20px;
}

/* Инфо */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-icon {
  width: 70px;
}
.info-icon__item {
  width: 100%;
}
.info-temp {
  margin-bottom: 10px;
}
.info-temp_item {
  font-size: 80px;
  color: #fff;
}
.info-city {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 300px;
  margin-bottom: 20px;
  padding: 10px 0px;

  color: #fff;
  flex-wrap: wrap;
}
.info-city-items {
  margin-bottom: 30px;
}
/*Модификатор выравнивания*/
.info-city-mdr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-city__probability {
}
.info-city__humidity {
}
.info-city__pressure {
}
.info-city__wind {
  padding-top: 10px;
}
/*Прогноз*/

.feature{
  margin-bottom: 30px;
}
.feature-weather-tittle {
  text-align: center;
  font-size: 20px;
}

.feature-weather-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
}
.feature-weather {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  background-color: #ea6120;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

}
.feature-weather__time {
}
.feature-weather__icon {
}
.feature-weather__temp {
}

/*Суточная*/

.daily-table-container {
  display: flex;
  width: 100%;
}

.daily-table {
  color: #fff;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.daily-tittle {
  text-align: center;
  font-size: 20px;
}

tr {
  border-bottom: 1px #000 solid;
}

th {
  font-size: 20px;
  padding: 10px;
}

tr td {
  padding: 10px;
}

.daily-table-icon__item{
  width: 70%;
}